<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nos vemos pronto</title>
</head>

<% if (user.color == "red") { %>
    <body style="background-color: red;">
<% } else if (user.color == "blue") { %>
    <body style="background-color: blue;">
<% } else if (user.color == "green") { %>
    <body style="background-color: green;">
<% } else if (user.color == "yellow") { %>
    <body style="background-color: yellow;">
<% } else { %>
    <body>
<% } %>     
    <h2 style="color: aliceblue;">Gracias por visitarnos</h2>
</body>
</html>